<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Staff Management</title>
 <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
 <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.7.1/css/all.min.css}">
 <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
</html>