<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>
    <th:block th:replace="common/layout :: navbar"></th:block>
    <div id="wrapper">
        <th:block th:replace="common/layout :: sidebar"></th:block>
        <div id="content-wrapper">
            <section th:fragment="records-data" class="table-responsive">
                <table class="table table-bordered" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Ngày ghi nhận</th>
                            <th>Loại ghi nhận </th>
                            <th>Lý do</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="record,i : ${allRecords}">
                            <tr th:classappend="${record.type} ? 'table-success' : 'table-danger'">
                                <td scope="row" th:text="${i.index + 1}"></td>
                                <td th:text="${#dates.format(record.date,'HH:mm:ss dd/MM/yyyy')}"></td>
                                <td th:text="${record.type ? 'Thành tích' : 'Kỷ luật'}"></td>
                                <td th:text="${record.reason}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </section>
        </div>
        <footer th:replace="common/layout :: footer"> </footer>
    </div>
    <th:block th:replace="common/scriptsource :: script"></th:block>
</body>

</html>