<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>
<body>
	<section th:fragment="staffs-data">
		<div class="mt-4">
			<table class="table table-sm table-bordered table-responsive-sm">
				<thead>
					<tr>
						<th>Mã nhân viên</th>
						<th>Tên nhân viên</th>
						<th>Ngày sinh</th>
						<th>Giới tính</th>
						<th>Email</th>
						<th>Số điện thoại</th>
						<th>Lương</th>
						<th>Chú thích</th>
						<th>Phòng ban</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${allStaffs.size() == 0}">
						<td colspan="11">
							<div class="text-center">
								<i class="fas fa-times-circle text-danger"></i>
								<th:block th:if="${search_key == null}">
									không có nhân viên nào
									<a class="btn btn-link mb-sm-1" href="#">Thêm nhân viên</a>
								</th:block>
								<th:block th:if="${search_key != null}">Không tìm thấy nhân viên</th:block>
							</div>
						</td>
					</tr>
					<tr th:each="staffs : ${allStaffs}">
						<td th:text="${staffs.idStaffs}"></td>
						<td th:text="${staffs.staffsName}"></td>
						<td th:text="${#dates.format(staffs.birthday,'dd/MM/yyyy')}"></td>
						<th:block th:switch="${staffs.gender.toString()}">
							<td th:case="'MALE'">Nam</td>
							<td th:case="'FEMALE'">Nữ</td>
						</th:block>
						<td th:text="${staffs.email}"></td>
						<td th:text="${staffs.phone}"></td>
						<td th:text="${staffs.getSalaryCurrency()}"></td>
						<td th:text="${staffs.notes}"></td>
						<td th:text="${staffs.department}"></td>
						<td class="text-center">
							<a href="#" class="btn btn-warning "><i class="fas fa-edit"></i></a>	
						</td>
						<td class="text-center">
							<a th:href="${uriDelStaffs} + ${staffs.idStaffs}" class="btn btn-danger "><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<th:block th:replace="common/scriptsource :: script"></th:block>
</body>
</html>