<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>
	<th:block th:replace="common/layout :: navbar"></th:block>
	<div id="wrapper">
		<th:block th:replace="common/layout :: sidebar"></th:block>
		<div id="content-wrapper">
			<section class="container col-12">
				<div class="h1 text-center text-primary">Nhân Viên</div>
				<hr class="col-6 mt-sm-4 mb-sm-4">
				<div class="col-12 container">
					<a th:href="@{/staffs/add}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Thêm nhân
						viên</a>
					<div class="card mb-3 mt-sm-4">
						<div class="card-header">
							<div class="clearfix">
								<i class="fas fa-table"></i> Danh sách nhân viên :
								<div class="float-right">
									<form th:action="@{/staffs/search}" method="get" class="form-inline">
										<div class="input-group">
											<input class="form-control" name="keyword"
												placeholder="Tìm kiếm nhân viên..."
												th:value="${search_key != null ? search_key : ''}" />
											<div class="input-group-append">
												<button type="submit" class="btn btn-primary"><i
														class="fas fa-search"></i></button>
											</div>
										</div>
									</form>
								</div>
								<div class="float-right mr-lg-5">
									<form th:action="@{/staffs}" class="form-inline">
										<div class="form-group">
											<label for="select">Hiển thị : </label>
											<select name="filter_key"
												class="custom-select mb-2 mr-sm-4 mb-sm-0 ml-sm-3" id="select">
												<option value="all" th:selected="${filter_type eq 'all'}"> Tất cả </option>
												<option value="achievement" th:selected="${filter_type eq 'achievement'}">Nhân viên được khen thưởng</option>
												<option value="discipline" th:selected="${filter_type eq 'discipline'}">Nhân viên bị kỷ luật</option>
											</select>
										</div>
										<button class="btn btn-danger" type="submit"><i class="fas fa-redo-alt"></i></button>
									</form>
								</div>
							</div>
						</div>
						<div class="card-body">
							<section th:replace="staffs/staffs-show-data :: staffs-data"></section>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="common/layout :: footer"> </footer>
	</div>
	<th:block th:replace="common/scriptsource :: script"></th:block>
</body>

</html>