<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<section th:fragment="staffs-data">
		<div>
			<table class="table table-sm table-bordered table-responsive-sm">
				<thead>
					<tr>
						<th>No.</th>
						<th>Ảnh</th>
						<th>Mã Nhân Viên</th>
						<th>Tên Nhân Viên</th>
						<th>Ngày Sinh</th>
						<th>Giới Tính</th>
						<th>Email</th>
						<th>Số điện thoại</th>
						<th>Lương</th>
						<th>Cấp Độ</th>
						<th>Điểm Thưởng</th>
						<th>Chú Thích</th>
						<th>Phòng Ban</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${allStaffs.size() == 0}">
						<td colspan="16">
							<div class="text-center">
								<i class="fas fa-times-circle text-danger"></i>
								<th:block th:if="${search_key == null}">
									không có nhân viên nào
								</th:block>
								<th:block th:if="${search_key != null}">Không tìm thấy nhân viên</th:block>
							</div>
						</td>
					</tr>
					<tr th:each="staffs,i : ${allStaffs}">
						<td class="align-middle" scope="row" th:text="${i.index + 1}"></td>
						<td class="align-middle">
							<a th:href="@{/staffs/} + ${staffs.idStaffs}" th:class="text-dark">
								<img class="rounded" style="width:60px;height:auto;"
									th:src="${'/img/'} + ${staffs.photo.getOriginalFilename()}"
									th:alt="${'/img/'} + ${staffs.photo.getOriginalFilename()}" />
							</a>
						</td>
						<td class="align-middle">
							<a th:href="@{/staffs/} + ${staffs.idStaffs}" th:text="${staffs.idStaffs}"
								th:class="text-dark"></a>
						</td>
						<td class="align-middle">
							<a th:href="@{/staffs/} + ${staffs.idStaffs}" th:text="${staffs.staffsName}"
								th:class="text-dark"></a>
						</td>
						<td class="align-middle" th:text="${#dates.format(staffs.birthday,'dd/MM/yyyy')}">
						</td>
						<th:block th:switch="${staffs.gender.toString()}">
							<td class="align-middle" th:case="'MALE'">Nam</td>
							<td class="align-middle" th:case="'FEMALE'">Nữ</td>
						</th:block>
						<td class="align-middle" th:text="${staffs.email}"></td>
						<td class="align-middle" th:text="${staffs.phone}"></td>
						<td class="align-middle" th:text="${staffs.getSalaryCurrency()}"></td>
						<td class="align-middle text-center font-weight-bold" th:text="${staffs.getLevel()}"></td>
						<td class="align-middle text-center font-weight-bold" th:text="${staffs.getAchievement() - staffs.getDiscipline()}"></td>
						<td class="align-middle" th:text="${staffs.notes}"></td>
						<td class="align-middle" >
							<a th:text="${staffs.department}"
                                th:href="@{/department/infor/} + ${staffs.department.idDepartment}"
                                class="text-dark"></a>
						</td>
						<td class="align-middle">
							<a class="btn btn-primary" th:href="${urlRecords} + ${staffs.idStaffs}" role="button"><i class="fas fa-comment-alt"></i></a>
						</td>
						<td class="align-middle text-center">
							<a th:href="${urlEdit} + ${staffs.idStaffs}" class="btn btn-warning "><i class="fas fa-edit"></i></a>	
						</td>
						<td class="align-middle text-center">
							<a th:href="${urlDelStaffs} + ${staffs.idStaffs}" class="btn btn-danger "><i class="fas fa-trash-alt"></i></a>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>