<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head"></head>

<body>
    <th:block th:replace="common/layout :: navbar"></th:block>
    <div id="wrapper">
        <th:block th:replace="common/layout :: sidebar"></th:block>
        <div id="content-wrapper">
            <p class="text-center text-info h1 mt-sm-3">Thông Tin Nhân Viên</p>
            <section class="container col-12 mt-sm-5">
                <div class="col-8 ml-lg-5">
                    <div class="clearfix">
                        <div class="mr-5 float-left">
                            <img th:src="@{/img/} + ${staffs.photo.getOriginalFilename()}" alt=""
                                class="img-thumbnail img-fluid" style="height:200px;width:auto;" />
                        </div>
                        <div class="font-weight-normal h6 float-left">
                            <table class="spacing-table">
                                <tr>
                                    <td>Tên nhân viên </td>
                                    <td> : </td>
                                    <td th:text="${staffs.staffsName}" class="font-weight-bold"></td>
                                </tr>
                                <tr>
                                    <td>Cấp độ </td>
                                    <td> : </td>
                                    <td th:text="${staffs.getLevel()}" class="font-weight-bold">10</td>
                                </tr>
                                <tr>
                                    <td>Đánh giá </td>
                                    <td> : </td>
                                    <td class="font-weight-bold">
                                        <b th:text="${staffs.getAchievement()}" class="mr-sm-1"></b> thành tích <b
                                            th:text="${staffs.getDiscipline()}" class="mr-sm-1 ml-sm-1"></b> kỷ luật
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:href="@{/records/infor/{idStaffs}(idStaffs=${staffs.idStaffs})}"
                                            class="btn btn-primary col-12"><i
                                                class="fas fa-comment-alt mr-sm-2"></i>Đánh giá</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <a th:href="@{/staffs}" class="btn btn-primary mt-5 ml-sm-3"><i class="fas fa-home"></i>Xem tất cả
                    nhân
                    viên</a>
                

                <div class="card mb-3 mt-3">
                    <div class="card-header">
                            <i class="fas fa-table"></i> Ghi Nhận : </div>
                    <div class="card-body">
                        <section th:replace="records/records-data :: records-data"></section>
                    </div>

                </div>
                
            </section>
        </div>
        <footer th:replace="common/layout :: footer"> </footer>
    </div>
    <th:block th:replace="common/scriptsource :: script"></th:block>
</body>

</html>